```html
<!DOCTYPE html>
<html lang="ka">
<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Admin</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container large">

    <h1>მონაწილეები</h1>

    <div class="table-wrapper">

        <table>

            <tr>

                <th>ID</th>
                <th>ასაკი</th>
                <th>სქესი</th>
                <th>ოჯახური მდგომარეობა</th>
                <th>განათლება</th>
                <th>დასაქმება</th>

                <th>E</th>
                <th>A</th>
                <th>C</th>
                <th>N</th>
                <th>O</th>

            </tr>

            {% for p in participants %}

            <tr>

                <td>{{ p[0] }}</td>
                <td>{{ p[2] }}</td>
                <td>{{ p[3] }}</td>
                <td>{{ p[4] }}</td>
                <td>{{ p[5] }}</td>
                <td>{{ p[6] }}</td>

                <td>{{ p[51] }}</td>
                <td>{{ p[52] }}</td>
                <td>{{ p[53] }}</td>
                <td>{{ p[54] }}</td>
                <td>{{ p[55] }}</td>

            </tr>

            {% endfor %}

        </table>

    </div>


    <h1 style="margin-top: 60px;">
        კითხვარის პასუხები
    </h1>

    <div class="table-wrapper">

        <table>

            <tr>

                <th>ID</th>

                {% for i in range(1,45) %}
                <th>Q{{ i }}</th>
                {% endfor %}

            </tr>

            {% for p in participants %}

            <tr>

                <td>{{ p[0] }}</td>

                {% for i in range(7,51) %}
                <td>{{ p[i] }}</td>
                {% endfor %}

            </tr>

            {% endfor %}

        </table>

    </div>


    <h1 style="margin-top: 60px;">
        სიტყვის შევსების დავალება
    </h1>

    <div class="table-wrapper">

        <table>

            <tr>

                <th>ID</th>
                <th>Trait</th>
                <th>Task Order</th>
                <th>ნაჩვენები სიტყვა</th>
                <th>Stem</th>
                <th>პასუხი</th>
                <th>Accuracy</th>
                <th>Reaction Time</th>

            </tr>

            {% for r in task_results %}

            <tr>

                <td>{{ loop.index }}</td>
                <td>{{ r[1] }}</td>
                <td>{{ r[2] }}</td>
                <td>{{ r[3] }}</td>
                <td>{{ r[4] }}</td>
                <td>{{ r[5] }}</td>
                <td>{{ r[6] }}</td>
                <td>{{ r[7] }}</td>

            </tr>

            {% endfor %}

        </table>

    </div>

</div>

</body>
</html>
```
