<!DOCTYPE html>
<html lang="ka">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container large">


    <p>
       მოგესალმებით,
        

    </p>

    <p>
        გთხოვთ, მონაწილეობა მიიღოთ კვლევაში, რომელიც ხორციელდება თბილისის სახელმწიფო უნივერსიტეტის 
        ფსიქოლოგიისა და განათლების მეცნიერებათა ფაკულტეტის საბაკალავრო პროგრამის ფარგლებში.
        
    </p>
    
    <p>
        კვლევის მიზანია პიროვნულ მახასიათებლებსა და იმპლიციტური მეხსიერების თავისებურებებს შორის კავშირის შესწავლა. 
        
    </p>    

    <p>
        კვლევა ანონიმურია. მიღებული ინფორმაცია დამუშავდება კონფიდენციალურად და გამოყენებული იქნება მხოლოდ 
        სამეცნიერო მიზნებისთვის. მონაწილეობა ნებაყოფლობითია.

    </p>
    
    <p>
        კვლევაში მონაწილეობის მისაღებად დაგჭირდებათ დაახლოებით 10–15 წუთი. პირველ ეტაპზე გთხოვთ პიროვნების ნიშნებთან დაკავშირებული 
        კითხვარის შევსებას, რის შემდეგაც შეასრულებთ ვერბალური კომპეტენციის რამდენიმე მოკლე დავალებას. შედეგებს ბოლო გვერდზე იხილავთ. გაგრძელებით თქვენ ადასტურებთ, 
        რომ ხართ სრულწლოვანი და თანახმა ხართ, მონაწილეობა მიიღოთ აღნიშნულ კვლევაში.


    </p>

    <p>
        კვლევის ავტორი: ლერი ზივზივაძე, თსუ, ფსიქოლოგიის საბაკალავრო პროგრამის სტუდენტი  

    </p>

    <p>
        სამეცნიერო ხელმძღვანელი: ხათუნა მარწყვიშვილი, თსუ, პროფესორი
    </p>

    <p>
        გმადლობთ თანამშრომლობისთვის! 
    </p>    

    <form method="POST">

        <button type="submit"
                name="consent"
                value="agree">
            ვეთანხმები
        </button>

        <button type="submit"
                name="consent"
                value="decline">
            არ ვეთანხმები
        </button>

    </form>

</div>

</body>
</html>
