<!DOCTYPE html>
<html lang="ka">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container large">


    <p>
       აღნიშნული კვლევა  ხორციელდება თბილისის ივანე ჯავახიშვილის სახელობის სახელმწიფო 
       უნივერსიტეტის ფსიქოლოგიისა და განათლების საბაკალავრო პროგრამის ფარგლებში.
        

    </p>

    <p>
        სტუდენტი - ლერი ზივზივაძე.
        
    </p>
    
    <p>
        ხელმძღვანელი - ხათუნა მარწყვიშვილი.
        
    </p>    

    <p>
        კვლევის მიზანია, შეისწავლოს  კავშირი პიროვნების ნიშნებსა და იმპლიციტურ მეხსიერებას შორის.

    </p>
    
    <p>
        კვლევა არის ანონიმური. თქვენს მიერ მოწოდებული ინფორმაცია გამოყენებული იქნება მხოლოდ სამეცნიერო მიზნებისთის.
        მონაწილეობა ნებაყოფლობითია, თქვენ უფლება გაქვთ ნებისმიერ დროს შეწყვიტოთ კითხვარის შევსება ყოველგვარი განმარტების გარეშე.
        კითხვარის შევსებას სჭირდება 10-15 წუთი.
        კითხვარში არ არსებობს "სწორი" ან "მცდარი" პასუხები. მნიშვნელოვანია თქვენი გულწრფელი დამოკიდებულება თითოეული დებულების მიმართ.
        კითხვარის შევსების გაგრძელებით თქვენ ადასტურებთ, რომ ხართ სრულწლოვანი და თანახმა ხართ მონაწილეობა მიიღოთ კვლევაში.

    </p>

    <p>
        შემდეგ გვერდზე თქვენ იხილავთ პიროვნების ნიშნების კითხვარს, რისი შევსების შემდეგაც ორი იმპლიციტური მეხსიერების დავალების შესრულებას გთხოვთ.  

    </p>

    <p>
        წინასწარ გიხდით მადლობას თანამშრომლობისთვის! თქვენი პასუხები ძალიან მნიშვნელოვანია 
        კვლევის წარმატებით განხორციელებისთვის.
    </p>

    <form method="POST">

        <button type="submit"
                name="consent"
                value="agree">
            ვეთანხმები
        </button>

        <button type="submit"
                name="consent"
                value="decline">
            არ ვეთანხმები
        </button>

    </form>

</div>

</body>
</html>
