<!DOCTYPE html>
<html lang="ka">
<head>
    <meta charset="UTF-8">
    <title>BFI-44</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>დიდი ხუთეულის კითხვარი</h1>

    <p>
    ქვემოთ მოცემულია მახასიათებლები, რომლებიც შესაძლოა თქვენ გახასიათებთ.
    გთხოვთ, თითოეული დებულება შეაფასოთ 1-დან 5-მდე სკალაზე იმის მიხედვით, 
    თუ რამდენად შეგესაბამებათ ჩამოთვლილი მახასიათებლებიდან თითოეული. 
    თითოეული დებულების გასწვრივ აღნიშნეთ შესაბამისი ციფრი. 
    1 - ნამდვილად არ ვეთანხმები
    2 - უფრო არ ვეთანხმები, ვიდრე ვეთანხმები
    3 - არც ვეთანხმები და არც არ ვეთანხმები
    4 - უფრო ვეთანხმები, ვიდრე არ ვეთანხმები
    5 - ნამდვილად ვეთანხმები    
    </p>

    <a href="/questionnaire" class="start-button">დაწყება</a>
</div>

</body>
</html>
