<!DOCTYPE html>
<html lang="ka">
<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <title>ინსტრუქცია</title>

</head>

<body>

<div class="container">

    <h1>
        ინსტრუქცია
    </h1>

    <p style="margin-top: 30px; line-height: 1.9;">

        პირველ ეტაპზე ეკრანზე სწრაფად გამოჩნდება
        სხვადასხვა სიტყვა.

        <br><br>

        თქვენი ამოცანაა უბრალოდ ყურადღებით
        შეხედოთ მათ და ეცადოთ, დაიმახსოვროთ ისინი.

        <br><br>

        მეორე ეტაპზე ეკრანზე გამოჩნდება
        სიტყვები დაუმთავრებელი სახით.

        <br><br>

        მაგალითად:

        <br><br>

        კ----ი

        <br><br>

        თითოეულ შემთხვევაში თქვენი ამოცანაა
        შეავსოთ ეს სიტყვა.

        <br><br>

        ქვემოთ მოცემულ ტექსტის ველში ჩაწერეთ
        შესაბამისი სიტყვა და დააჭირეთ
        „შემდეგ“ ღილაკს.

        <br><br>

        ეცადეთ, იმუშაოთ სწრაფად.

        <br><br>

        შემდეგ გვერდზე იხილავთ
        სავარჯიშო დავალებას.

        <br><br>

        სავარჯიშო დავალების დასრულების შემდეგ
        შეძლებთ:

        <br><br>

        • სავარჯიშოს გამეორებას 

        <br>

        • ან მთავარ ნაწილზე გადასვლას 

        <br><br>

        სავარჯიშო დავალების პასუხები
        არ შეინახება.

    </p>

    <button
        onclick="window.location.href='/practice_intro'"
        style="margin-top: 40px;">

        გაგრძელება

    </button>

</div>

</body>
</html>
```
