<!DOCTYPE html>
<html lang="ka">
<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <title>ინსტრუქცია</title>

</head>

<body>

<div class="container">

    <h1>
        ინსტრუქცია
    </h1>

    <p style="margin-top: 30px; line-height: 1.9;">

        პირველ ეტაპზე ეკრანზე სწრაფად გამოჩნდება
        სიტყვები.

        თქვენი ამოცანაა უბრალოდ ყურადღებით
        შეხედოთ მათ და ეცადოთ, დაიმახსოვროთ ისინი.

        მეორე ეტაპზე ეკრანზე გამოჩნდება
        სამი ასო.

        <br><br>

        მაგალითად:

        კეთ...

        <br><br>

        თითოეულ შემთხვევაში თქვენი ამოცანაა, დაწეროთ პირველი სიტყვა, 
        რომელიც თავში მოგივათ.

        ეცადეთ, იმუშაოთ სწრაფად.

        <br><br>

        შემდეგ გვერდზე იხილავთ
        სავარჯიშო დავალებას. მისი დასრულების შემდეგ შეძლებთ 
        სავარჯიშოს გამეორებას ან მთავარ ნაწილზე გადასვლას.

        <br><br>

        სავარჯიშო დავალების პასუხები
        არ შეინახება.

    </p>

    <button
        onclick="window.location.href='/practice_intro'"
        style="margin-top: 40px;">

        გაგრძელება

    </button>

</div>

</body>
</html>
```
