<!DOCTYPE html>
<html lang="ka">
<head>
    <meta charset="UTF-8">
    <title>დავალება</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>დავალება</h1>

    <p>
        პირველ ეტაპზე ეკრანზე სწრაფად გამოჩნდება სხვადასხვა სიტყვა.
        თქვენი ამოცანაა უბრალოდ ყურადღებით შეხედოთ მათ და ეცადოთ, 
        დაიმახსოვროთ ისინი.

        მეორე ეტაპზე ეკრანზე გამოჩნდება პიროვნების აღმწერი სიტყვები
        დაუმთავრებელი სახით, მაგალითად: კ----ი (კეთილი).

        თითოეულ შემთხვევაში თქვენი ამოცანაა შეავსოთ ეს სიტყვა.

        ქვემოთ მოცემულ ტექსტის ველში ჩაწერეთ შესაბამისი სიტყვა და დააჭირეთ
        „შემდეგ“ ღილაკს.

        ეცადეთ, იმუშაოთ სწრაფად.
    </p>

    <a href="{{ next_url }}" class="start-button">
        დავალების დაწყება
    </a>

</div>

</body>
</html>